<a href="https://colab.research.google.com/github/ngzhiwei517/Machine_Learning_Self-Learn/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import pandas as pd
df=pd.read_csv("/content/nyc_weather.csv")

In [13]:
df

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,NaN,333
5,1/6/2016,33,4,35,30.50,10,4.0,0,0,NaN,259
6,1/7/2016,39,11,33,30.28,10,2.0,0,3,NaN,293
7,1/8/2016,39,29,64,30.20,10,4.0,0,8,NaN,79
8,1/9/2016,44,38,77,30.16,9,8.0,T,8,Rain,76
9,1/10/2016,50,46,71,29.59,4,NaN,1.8,7,Rain,109
10,1/11/2016,33,8,37,29.92,10,NaN,0,1,NaN,289
11,1/12/2016,35,15,53,29.85,10,6.0,T,4,NaN,235
12,1/13/2016,26,4,42,29.94,10,10.0,0,0,NaN,284
13,1/14/2016,30,12,47,29.95,10,5.0,T,7,NaN,266
14,1/15/2016,43,31,62,29.82,9,5.0,T,2,NaN,101
15,1/16/2016,47,37,70,29.52,8,7.0,0.24,7,Rain,340
16,1/17/2016,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
17,1/18/2016,25,6,53,29.83,9,12.0,T,2,Snow,293
18,1/19/2016,22,3,42,30.03,10,11.0,0,1,NaN,293
19,1/20/2016,32,15,49,30.13,10,6.0,0,2,NaN,302
20,1/21/2016,31,11,45,30.15,10,6.0,0,1,NaN,312
21,1/22/2016,26,6,41,30.21,9,NaN,0.01,3,Snow,34
22,1/23/2016,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
23,1/24/2016,28,11,53,29.92,8,6.0,T,3,Snow,327
24,1/25/2016,34,18,54,30.25,10,3.0,0,2,NaN,286
25,1/26/2016,43,29,56,30.03,10,7.0,0,2,NaN,244
26,1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311
27,1/28/2016,37,20,51,29.90,10,5.0,0,1,NaN,234
28,1/29/2016,36,21,50,29.58,10,8.0,0,4,NaN,298
29,1/30/2016,34,16,46,30.01,10,7.0,0,0,NaN,257
30,1/31/2016,46,28,52,29.90,10,5.0,0,0,NaN,241

In [5]:
df['Temperature'].max()

50

# Basic function

In [16]:
df.head() #show first 5 rows

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,NaN,333

In [17]:
df.tail() #show the last 5 rows

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
26,1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311
27,1/28/2016,37,20,51,29.90,10,5.0,0,1,NaN,234
28,1/29/2016,36,21,50,29.58,10,8.0,0,4,NaN,298
29,1/30/2016,34,16,46,30.01,10,7.0,0,0,NaN,257
30,1/31/2016,46,28,52,29.90,10,5.0,0,0,NaN,241

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   EST                   31 non-null     object
 1   Temperature           31 non-null     int64
 2   DewPoint              31 non-null     int64
 3   Humidity              31 non-null     int64
 4   Sea Level PressureIn  31 non-null     float64
 5   VisibilityMiles       31 non-null     int64
 6   WindSpeedMPH          28 non-null     float64
 7   PrecipitationIn       31 non-null     object
 8   CloudCover            31 non-null     int64
 9   Events                9 non-null      object
 10  WindDirDegrees        31 non-null     int64
dtypes: float64(2), int64(6), object(3)
memory usage: 2.8+ KB

In [21]:
df.describe() #summary stats

,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,CloudCover,WindDirDegrees
count,31.000000,31.000000,31.000000,31.000000,31.000000,28.000000,31.000000,31.000000
mean,34.677419,17.838710,51.677419,29.992903,9.193548,6.892857,3.129032,247.129032
std,7.639315,11.378626,11.634395,0.237237,1.939405,2.871821,2.629853,92.308086
min,20.000000,-3.000000,33.000000,29.520000,1.000000,2.000000,0.000000,34.000000
25%,29.000000,10.000000,44.500000,29.855000,9.000000,5.000000,1.000000,238.000000
50%,35.000000,18.000000,50.000000,30.010000,10.000000,6.500000,3.000000,281.000000
75%,39.500000,23.000000,55.000000,30.140000,10.000000,8.000000,4.500000,300.000000
max,50.000000,46.000000,78.000000,30.570000,10.000000,16.000000,8.000000,345.000000

In [26]:
df.columns #show all the columns

Index(['EST', 'Temperature', 'DewPoint', 'Humidity', 'Sea Level PressureIn',
       'VisibilityMiles', 'WindSpeedMPH', 'PrecipitationIn', 'CloudCover',
       'Events', 'WindDirDegrees'],
      dtype='object')

In [27]:
df.shape #(row,columns)

(31, 11)

In [28]:
df.index

RangeIndex(start=0, stop=31, step=1)

# Part 2: Selecting columns& rows

Selecting one column

In [14]:
df['EST']

0      1/1/2016
1      1/2/2016
2      1/3/2016
3      1/4/2016
4      1/5/2016
5      1/6/2016
6      1/7/2016
7      1/8/2016
8      1/9/2016
9     1/10/2016
10    1/11/2016
11    1/12/2016
12    1/13/2016
13    1/14/2016
14    1/15/2016
15    1/16/2016
16    1/17/2016
17    1/18/2016
18    1/19/2016
19    1/20/2016
20    1/21/2016
21    1/22/2016
22    1/23/2016
23    1/24/2016
24    1/25/2016
25    1/26/2016
26    1/27/2016
27    1/28/2016
28    1/29/2016
29    1/30/2016
30    1/31/2016
Name: EST, dtype: object

Selecting many columns

In [15]:
df[['EST','WindSpeedMPH']]

          EST  WindSpeedMPH
0    1/1/2016           8.0
1    1/2/2016           7.0
2    1/3/2016           8.0
3    1/4/2016           9.0
4    1/5/2016           5.0
5    1/6/2016           4.0
6    1/7/2016           2.0
7    1/8/2016           4.0
8    1/9/2016           8.0
9   1/10/2016           NaN
10  1/11/2016           NaN
11  1/12/2016           6.0
12  1/13/2016          10.0
13  1/14/2016           5.0
14  1/15/2016           5.0
15  1/16/2016           7.0
16  1/17/2016           6.0
17  1/18/2016          12.0
18  1/19/2016          11.0
19  1/20/2016           6.0
20  1/21/2016           6.0
21  1/22/2016           NaN
22  1/23/2016          16.0
23  1/24/2016           6.0
24  1/25/2016           3.0
25  1/26/2016           7.0
26  1/27/2016           7.0
27  1/28/2016           5.0
28  1/29/2016           8.0
29  1/30/2016           7.0
30  1/31/2016           5.0

Select row by number

In [29]:
df.iloc[29]

EST                     1/30/2016
Temperature                    34
DewPoint                       16
Humidity                       46
Sea Level PressureIn        30.01
VisibilityMiles                10
WindSpeedMPH                  7.0
PrecipitationIn                 0
CloudCover                      0
Events                        NaN
WindDirDegrees                257
Name: 29, dtype: object

Select row by label

By default it will uses numeric index same as iloc

In [46]:
df.loc[3]

EST                     1/4/2016
Temperature                   25
DewPoint                       9
Humidity                      44
Sea Level PressureIn       30.05
VisibilityMiles               10
WindSpeedMPH                 9.0
PrecipitationIn                0
CloudCover                     3
Events                      None
WindDirDegrees               345
TempSqaured                  625
Name: 3, dtype: object

# Filter row

In [47]:
df[df['Temperature']>40]

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees,TempSqaured
8,1/9/2016,44,38,77,30.16,9,8.0,T,8,Rain,76,1936
9,1/10/2016,50,46,71,29.59,4,NaN,1.8,7,Rain,109,2500
14,1/15/2016,43,31,62,29.82,9,5.0,T,2,None,101,1849
15,1/16/2016,47,37,70,29.52,8,7.0,0.24,7,Rain,340,2209
25,1/26/2016,43,29,56,30.03,10,7.0,0,2,None,244,1849
26,1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311,1681
30,1/31/2016,46,28,52,29.90,10,5.0,0,0,None,241,2116

# Multiple conditions

In [48]:
df[(df['Temperature']>40)&(df['Humidity']>70)]

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees,TempSqaured
8,1/9/2016,44,38,77,30.16,9,8.0,T,8,Rain,76,1936
9,1/10/2016,50,46,71,29.59,4,NaN,1.8,7,Rain,109,2500

# Part 3: Modifying Dataframe

Add new column

In [37]:
df['TempSqaured']=df['Temperature']**2

In [ ]:
df

Drop a column



---

In [40]:
df.drop(columns=['DewPoint'])

,EST,Temperature,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees,TempSqaured
0,1/1/2016,38,52,30.03,10,8.0,0,5,None,281,1444
1,1/2/2016,36,46,30.02,10,7.0,0,3,None,275,1296
2,1/3/2016,40,47,29.86,10,8.0,0,1,None,277,1600
3,1/4/2016,25,44,30.05,10,9.0,0,3,None,345,625
4,1/5/2016,20,41,30.57,10,5.0,0,0,None,333,400
5,1/6/2016,33,35,30.50,10,4.0,0,0,None,259,1089
6,1/7/2016,39,33,30.28,10,2.0,0,3,None,293,1521
7,1/8/2016,39,64,30.20,10,4.0,0,8,None,79,1521
8,1/9/2016,44,77,30.16,9,8.0,T,8,Rain,76,1936
9,1/10/2016,50,71,29.59,4,NaN,1.8,7,Rain,109,2500
10,1/11/2016,33,37,29.92,10,NaN,0,1,None,289,1089
11,1/12/2016,35,53,29.85,10,6.0,T,4,None,235,1225
12,1/13/2016,26,42,29.94,10,10.0,0,0,None,284,676
13,1/14/2016,30,47,29.95,10,5.0,T,7,None,266,900
14,1/15/2016,43,62,29.82,9,5.0,T,2,None,101,1849
15,1/16/2016,47,70,29.52,8,7.0,0.24,7,Rain,340,2209
16,1/17/2016,36,66,29.78,8,6.0,0.05,6,Fog-Snow,345,1296
17,1/18/2016,25,53,29.83,9,12.0,T,2,Snow,293,625
18,1/19/2016,22,42,30.03,10,11.0,0,1,None,293,484
19,1/20/2016,32,49,30.13,10,6.0,0,2,None,302,1024
20,1/21/2016,31,45,30.15,10,6.0,0,1,None,312,961
21,1/22/2016,26,41,30.21,9,NaN,0.01,3,Snow,34,676
22,1/23/2016,26,78,29.77,1,16.0,2.31,8,Fog-Snow,42,676
23,1/24/2016,28,53,29.92,8,6.0,T,3,Snow,327,784
24,1/25/2016,34,54,30.25,10,3.0,0,2,None,286,1156
25,1/26/2016,43,56,30.03,10,7.0,0,2,None,244,1849
26,1/27/2016,41,45,30.03,10,7.0,T,3,Rain,311,1681
27,1/28/2016,37,51,29.90,10,5.0,0,1,None,234,1369
28,1/29/2016,36,50,29.58,10,8.0,0,4,None,298,1296
29,1/30/2016,34,46,30.01,10,7.0,0,0,None,257,1156
30,1/31/2016,46,52,29.90,10,5.0,0,0,None,241,2116

Rename columns


---

In [41]:
df.rename(columns={'Humidity':'HumidityPercent'})

,EST,Temperature,DewPoint,HumidityPercent,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees,TempSqaured
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,None,281,1444
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,None,275,1296
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,None,277,1600
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,None,345,625
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,None,333,400
5,1/6/2016,33,4,35,30.50,10,4.0,0,0,None,259,1089
6,1/7/2016,39,11,33,30.28,10,2.0,0,3,None,293,1521
7,1/8/2016,39,29,64,30.20,10,4.0,0,8,None,79,1521
8,1/9/2016,44,38,77,30.16,9,8.0,T,8,Rain,76,1936
9,1/10/2016,50,46,71,29.59,4,NaN,1.8,7,Rain,109,2500
10,1/11/2016,33,8,37,29.92,10,NaN,0,1,None,289,1089
11,1/12/2016,35,15,53,29.85,10,6.0,T,4,None,235,1225
12,1/13/2016,26,4,42,29.94,10,10.0,0,0,None,284,676
13,1/14/2016,30,12,47,29.95,10,5.0,T,7,None,266,900
14,1/15/2016,43,31,62,29.82,9,5.0,T,2,None,101,1849
15,1/16/2016,47,37,70,29.52,8,7.0,0.24,7,Rain,340,2209
16,1/17/2016,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345,1296
17,1/18/2016,25,6,53,29.83,9,12.0,T,2,Snow,293,625
18,1/19/2016,22,3,42,30.03,10,11.0,0,1,None,293,484
19,1/20/2016,32,15,49,30.13,10,6.0,0,2,None,302,1024
20,1/21/2016,31,11,45,30.15,10,6.0,0,1,None,312,961
21,1/22/2016,26,6,41,30.21,9,NaN,0.01,3,Snow,34,676
22,1/23/2016,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42,676
23,1/24/2016,28,11,53,29.92,8,6.0,T,3,Snow,327,784
24,1/25/2016,34,18,54,30.25,10,3.0,0,2,None,286,1156
25,1/26/2016,43,29,56,30.03,10,7.0,0,2,None,244,1849
26,1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311,1681
27,1/28/2016,37,20,51,29.90,10,5.0,0,1,None,234,1369
28,1/29/2016,36,21,50,29.58,10,8.0,0,4,None,298,1296
29,1/30/2016,34,16,46,30.01,10,7.0,0,0,None,257,1156
30,1/31/2016,46,28,52,29.90,10,5.0,0,0,None,241,2116

Change data type


---

In [42]:
df['WindSpeedMPH'].astype(float)

0      8.0
1      7.0
2      8.0
3      9.0
4      5.0
5      4.0
6      2.0
7      4.0
8      8.0
9      NaN
10     NaN
11     6.0
12    10.0
13     5.0
14     5.0
15     7.0
16     6.0
17    12.0
18    11.0
19     6.0
20     6.0
21     NaN
22    16.0
23     6.0
24     3.0
25     7.0
26     7.0
27     5.0
28     8.0
29     7.0
30     5.0
Name: WindSpeedMPH, dtype: float64

Replace value


---

In [43]:
df['CloudCover'].replace({0:100,1:200,3:300,5:500})

0     500
1     300
2     200
3     300
4     100
5     100
6     300
7       8
8       8
9       7
10    200
11      4
12    100
13      7
14      2
15      7
16      6
17      2
18    200
19      2
20    200
21    300
22      8
23    300
24      2
25      2
26    300
27    200
28      4
29    100
30    100
Name: CloudCover, dtype: int64

# Part 4: Missing value

In [31]:
df.isna().sum() #check missing

EST                      0
Temperature              0
DewPoint                 0
Humidity                 0
Sea Level PressureIn     0
VisibilityMiles          0
WindSpeedMPH             3
PrecipitationIn          0
CloudCover               0
Events                  22
WindDirDegrees           0
dtype: int64

Fill missing value

In [33]:
df['Events']=df['Events'].fillna('None')
df['Events']

0         None
1         None
2         None
3         None
4         None
5         None
6         None
7         None
8         Rain
9         Rain
10        None
11        None
12        None
13        None
14        None
15        Rain
16    Fog-Snow
17        Snow
18        None
19        None
20        None
21        Snow
22    Fog-Snow
23        Snow
24        None
25        None
26        Rain
27        None
28        None
29        None
30        None
Name: Events, dtype: object

Drop rows with any NAN

In [34]:
df.dropna()

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,None,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,None,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,None,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,None,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,None,333
5,1/6/2016,33,4,35,30.50,10,4.0,0,0,None,259
6,1/7/2016,39,11,33,30.28,10,2.0,0,3,None,293
7,1/8/2016,39,29,64,30.20,10,4.0,0,8,None,79
8,1/9/2016,44,38,77,30.16,9,8.0,T,8,Rain,76
11,1/12/2016,35,15,53,29.85,10,6.0,T,4,None,235
12,1/13/2016,26,4,42,29.94,10,10.0,0,0,None,284
13,1/14/2016,30,12,47,29.95,10,5.0,T,7,None,266
14,1/15/2016,43,31,62,29.82,9,5.0,T,2,None,101
15,1/16/2016,47,37,70,29.52,8,7.0,0.24,7,Rain,340
16,1/17/2016,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
17,1/18/2016,25,6,53,29.83,9,12.0,T,2,Snow,293
18,1/19/2016,22,3,42,30.03,10,11.0,0,1,None,293
19,1/20/2016,32,15,49,30.13,10,6.0,0,2,None,302
20,1/21/2016,31,11,45,30.15,10,6.0,0,1,None,312
22,1/23/2016,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
23,1/24/2016,28,11,53,29.92,8,6.0,T,3,Snow,327
24,1/25/2016,34,18,54,30.25,10,3.0,0,2,None,286
25,1/26/2016,43,29,56,30.03,10,7.0,0,2,None,244
26,1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311
27,1/28/2016,37,20,51,29.90,10,5.0,0,1,None,234
28,1/29/2016,36,21,50,29.58,10,8.0,0,4,None,298
29,1/30/2016,34,16,46,30.01,10,7.0,0,0,None,257
30,1/31/2016,46,28,52,29.90,10,5.0,0,0,None,241

# Part 5: Aggregation & Statistics

Mean

In [35]:
df['Humidity'].mean()

np.float64(51.67741935483871)

In [36]:
df.mean(numeric_only=True)

Temperature              34.677419
DewPoint                 17.838710
Humidity                 51.677419
Sea Level PressureIn     29.992903
VisibilityMiles           9.193548
WindSpeedMPH              6.892857
CloudCover                3.129032
WindDirDegrees          247.129032
dtype: float64

Median

In [45]:
df.median(numeric_only=True)

Temperature               35.00
DewPoint                  18.00
Humidity                  50.00
Sea Level PressureIn      30.01
VisibilityMiles           10.00
WindSpeedMPH               6.50
CloudCover                 3.00
WindDirDegrees           281.00
TempSqaured             1225.00
dtype: float64

Sum

In [44]:
df.sum(numeric_only=True)

Temperature              1075.00
DewPoint                  553.00
Humidity                 1602.00
Sea Level PressureIn      929.78
VisibilityMiles           285.00
WindSpeedMPH              193.00
CloudCover                 97.00
WindDirDegrees           7661.00
TempSqaured             39029.00
dtype: float64

# Part 6: Group By

GroupBy mean

GroupBy multiple aggregations

# row filtering + column selecting operation

 Filter rows where Events = "Rain"

 Then pick the EST column

 So you get EST values for rainy days only

In [6]:
df['EST'][df['WindSpeedMPH'].between(1,5)]

4      1/5/2016
5      1/6/2016
6      1/7/2016
7      1/8/2016
13    1/14/2016
14    1/15/2016
24    1/25/2016
27    1/28/2016
30    1/31/2016
Name: EST, dtype: object

In [8]:
df['EST'][df['Events']=='Rain']

8      1/9/2016
9     1/10/2016
15    1/16/2016
26    1/27/2016
Name: EST, dtype: object

In [8]:
df['WindSpeedMPH'].mean()

np.float64(6.892857142857143)

# Fill the null value (Fill NA)